<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CRM Basics" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="Test.Listeners" />
	</listeners>

	<test name="Login">
		<parameter name="URL" value="testing.com"/>
		<parameter name="APIKey/username" value="1234"/>
		<classes>
			<class name="Test.day1">
				<methods>
					<!--<include name="WebLoginCRM" />-->
				</methods>
			</class>
			<class name="Test.day2"/>
		</classes>
	</test>

	<test name="Settings">
		<classes>
			<class name="Test.day4"/>
		</classes>
	</test>

	<test name="ActivityReport">
		<parameter name="URL" value="qaclickacademy.com"/>
		<classes>
			<class name="Test.day3">
				<methods>
					<!--<exclude name="Mobile.*" />-->
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
